***Loan Prediction***
Predicting the eligibilty of loan applicants using machine learning algorithms such as logistic regression and gradient boost algorithms, comparing the results and choosing the best of them to predict loan eligibilty.

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv("https://raw.githubusercontent.com/ipsitaghatak95/Loan-Prediction/master/Data/Train_Data.csv")

In [ ]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
test = pd.read_csv("https://raw.githubusercontent.com/ipsitaghatak95/Loan-Prediction/master/Data/Test_Data.csv")

In [ ]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [ ]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

**Finding missing values or null values and imputing them**

In [ ]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

**Rreplacing the missing value in the trainig data using mean value.**

In [ ]:

train.fillna(train.mean(), inplace= True)
train.isnull().sum()

<ipython-input-10-cc08bfeb28e0>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.fillna(train.mean(), inplace= True)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

*For dtype object, replacing the missing value with their mode*

In [ ]:
train.Gender.fillna(train.Gender.mode()[0], inplace = True)
train.Married.fillna(train.Married.mode()[0], inplace = True)
train.Dependents.fillna(train.Dependents.mode()[0], inplace = True)
train.Self_Employed.fillna(train.Self_Employed.mode()[0], inplace = True)

In [ ]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
test.isnull().sum(
    
)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

**Replacing missing value in test data**

In [ ]:
test.fillna(test.mean(), inplace = True)

test.isnull().sum()

<ipython-input-14-29e6193dbe3a>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test.fillna(test.mean(), inplace = True)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [ ]:

# for dtype object

test.Gender.fillna(test.Gender.mode()[0], inplace = True)
test.Married.fillna(test.Married.mode()[0], inplace = True)
test.Dependents.fillna(test.Dependents.mode()[0], inplace = True)
test.Self_Employed.fillna(test.Self_Employed.mode()[0], inplace = True)

In [ ]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

**Detecting outliers**

In [ ]:
import numpy as np

In [ ]:
train.Loan_Amount_Term=np.log(train.Loan_Amount_Term)

**Predictive Modelling**

In [ ]:
# removing Loan_Id variable as it has no relevance with the modelling

train= train.drop('Loan_ID', axis = 1)
test = test.drop('Loan_ID', axis = 1)

In [ ]:
# Create target variable
a = train.drop('Loan_Status', 1)
b = train.Loan_Status
train.head(10)

<ipython-input-20-5d488a4d23e2>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  a = train.drop('Loan_Status', 1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,5.886104,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,5.886104,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,5.886104,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,5.886104,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,5.886104,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.000000,5.886104,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.000000,5.886104,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.000000,5.886104,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.000000,5.886104,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.000000,5.886104,1.0,Semiurban,N

In [ ]:
print(a)

     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0      Male      No          0      Graduate            No             5849
1      Male     Yes          1      Graduate            No             4583
2      Male     Yes          0      Graduate           Yes             3000
3      Male     Yes          0  Not Graduate            No             2583
4      Male      No          0      Graduate            No             6000
..      ...     ...        ...           ...           ...              ...
609  Female      No          0      Graduate            No             2900
610    Male     Yes         3+      Graduate            No             4106
611    Male     Yes          1      Graduate            No             8072
612    Male     Yes          2      Graduate            No             7583
613  Female      No          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0  146.412162          5.886104             1.0
1               1508.0  128.000000          5.886104             1.0
2                  0.0   66.000000          5.886104             1.0
3               2358.0  120.000000          5.886104             1.0
4                  0.0  141.000000          5.886104             1.0
..                 ...         ...               ...             ...
609                0.0   71.000000          5.886104             1.0
610                0.0   40.000000          5.192957             1.0
611              240.0  253.000000          5.886104             1.0
612                0.0  187.000000          5.886104             1.0
613                0.0  133.000000          5.886104             0.0

    Property_Area
0           Urban
1           Rural
2           Urban
3           Urban
4           Urban
..            ...
609         Rural
610         Rural
611         Urban
612         Urban
613     Semiurban

[614 rows x 11 columns]

In [ ]:
# target variable
print(b)

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [ ]:
# creating dummy varibles fro categorical variables

a = pd.get_dummies(a)
train= pd.get_dummies(train)
test = pd.get_dummies(test)

In [ ]:
print(a)

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0  146.412162          5.886104
1               4583             1508.0  128.000000          5.886104
2               3000                0.0   66.000000          5.886104
3               2583             2358.0  120.000000          5.886104
4               6000                0.0  141.000000          5.886104
..               ...                ...         ...               ...
609             2900                0.0   71.000000          5.886104
610             4106                0.0   40.000000          5.192957
611             8072              240.0  253.000000          5.886104
612             7583                0.0  187.000000          5.886104
613             4583                0.0  133.000000          5.886104

     Credit_History  Gender_Female  Gender_Male  Married_No  Married_Yes  \
0               1.0              0            1           1            0
1               1.0              0            1           0            1
2               1.0              0            1           0            1
3               1.0              0            1           0            1
4               1.0              0            1           1            0
..              ...            ...          ...         ...          ...
609             1.0              1            0           1            0
610             1.0              0            1           0            1
611             1.0              0            1           0            1
612             1.0              0            1           0            1
613             0.0              1            0           1            0

     Dependents_0  Dependents_1  Dependents_2  Dependents_3+  \
0               1             0             0              0
1               0             1             0              0
2               1             0             0              0
3               1             0             0              0
4               1             0             0              0
..            ...           ...           ...            ...
609             1             0             0              0
610             0             0             0              1
611             0             1             0              0
612             0             0             1              0
613             1             0             0              0

     Education_Graduate  Education_Not Graduate  Self_Employed_No  \
0                     1                       0                 1
1                     1                       0                 1
2                     1                       0                 0
3                     0                       1                 1
4                     1                       0                 1
..                  ...                     ...               ...
609                   1                       0                 1
610                   1                       0                 1
611                   1                       0                 1
612                   1                       0                 1
613                   1                       0                 0

     Self_Employed_Yes  Property_Area_Rural  Property_Area_Semiurban  \
0                    0                    0                        0
1                    0                    1                        0
2                    1                    0                        0
3                    0                    0                        0
4                    0                    0                        0
..                 ...                  ...                      ...
609                  0                    1                        0
610                  0                    1                        0
611                  0                    0                        0
612                  0                    0                        0
613                  1                    0                        1

     Property_Area_Urban
0                      1
1                      0
2                      1
3                      1
4                      1
..                   ...
609                    0
610                    0
611                    1
612                    1
613                    0

[614 rows x 20 columns]

In [ ]:
# splitting train data fro cross validation
from sklearn.model_selection import train_test_split

In [ ]:
a_train, a_cv,b_train, b_cv =train_test_split(a,b,test_size =0.1)

In [ ]:
print(b_train)

370    Y
389    Y
454    Y
173    Y
85     Y
      ..
234    Y
263    Y
129    N
468    Y
4      Y
Name: Loan_Status, Length: 552, dtype: object

****Logistic regression Algoritm****

In [ ]:
#fit model 

from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()
lr.fit(a_train, b_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
# predicting values for crossvalidation data
pred= lr.predict(a_cv)

In [ ]:
#Evaluating the accuracy of the model
from sklearn.metrics import accuracy_score
print(accuracy_score(b_cv, pred))

0.8064516129032258

In [ ]:
from traitlets.config.loader import Config
# confusion mtrix
from sklearn.metrics import confusion_matrix

print(confusion_matrix(b_cv, pred))

[[ 8 11]
 [ 1 42]]

**Model correctly classified 42 true neagtive loan status and 8 positive loan status.
However model incorrectly classified 11 negative loan status as belonging to the positive loan status.**

# Lets use gradient boost Algorithm

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb = GradientBoostingClassifier()
gb.fit(a_train, b_train)

GradientBoostingClassifier()

In [ ]:
# Predicting values for cv data
pred_1 = gb.predict(a_cv)

# Evaluate accuracy of model
print(accuracy_score(b_cv, pred_1)) 
matrix = confusion_matrix(b_cv, pred_1)
print(matrix)

0.8225806451612904
[[ 9 10]
 [ 1 42]]

**Clearly accuracy is higher as compared to Logistic regression**

# Selecting the best out of two

In [ ]:
# we are selecting gradient boost algorithm due to its hogher accuarcy.
#  lets predict values using test data ( grdaient boost)

pred_test = gb.predict(test)

# Write test results in csv file

loan_predictions=pd.DataFrame(pred_test, columns=['Predictions']).to_csv("./LoanStatus_Prediction.csv")